<div class="container">
  <h2>Sản phẩm </h2>
  <a routerLink="/user" routerLinkActive="active" [routerLinkActiveOptions]="{'exact':true}">Hồ sơ cá nhân</a>
  <a routerLink="/user/check-in" routerLinkActive="active" [routerLinkActiveOptions]="{'exact':true}">Check-in cảm xúc</a>
  <a routerLink="/search-result" routerLinkActive="active" [routerLinkActiveOptions]="{'exact':true}">Tìm nhà tham vấn</a>
  <a routerLink="/user/sessions" routerLinkActive="active" [routerLinkActiveOptions]="{'exact':true}">Quản lí lịch hẹn</a>
  <a routerLink="/danh-gia-tam-li" routerLinkActive="active"[routerLinkActiveOptions]="{'exact':true}">Đánh giá tâm lí</a>

  <h2>Tài khoản</h2>
  <a routerLink="/user/account" routerLinkActive="active" [routerLinkActiveOptions]="{'exact':true}">Tài khoản của bạn</a>
  <a routerLink="/user/packages" routerLinkActive="active" [routerLinkActiveOptions]="{'exact':true}">Gói dịch vụ</a>
  <a routerLink="/user/support" routerLinkActive="active" [routerLinkActiveOptions]="{'exact':true}">Hỗ trợ khách hàng</a>
</div>
