<!-- <app-ho-so-ca-nhan *ngIf="true"></app-ho-so-ca-nhan>
<app-checkin-cam-xuc></app-checkin-cam-xuc>
<app-tim-nha-tham-van></app-tim-nha-tham-van>
<app-quan-li-lich-hen></app-quan-li-lich-hen>
<app-danh-gia-tam-li></app-danh-gia-tam-li>
<app-tai-khoan-cua-ban></app-tai-khoan-cua-ban>
<app-goi-dich-vu></app-goi-dich-vu>
<app-ho-tro-khach-hang></app-ho-tro-khach-hang> -->

<!--1. Tạo route 2.Associate route với một cái component-->
<main>
  <app-main-left-navbar class="left"></app-main-left-navbar>
  <router-outlet></router-outlet>
</main>
